@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, cupcake, synthwave, cyberpunk, valentine, aqua,
    night, dracula, emerald;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}
